.full-page-grap{
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-page {
    margin: 2.5rem auto;
    width: 500px;
    display: flex;
    justify-content: center;
    background-color: #201f3e;
    color: #fff;
    border: 1px solid black;
    flex-direction: column;
    padding: 2rem 1rem;
    border-radius: 10px;
  }
  .signup-page .content h2 {
    margin-bottom: 0.3rem;
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .hr-span {
    margin-bottom: 2rem;
  }
  .signup-page label {
    font-size: 1rem;
    margin-bottom: 0.2rem;
  }
  .signup-page input {
    width: 100%;
    padding: 0 0.5rem;
   margin-bottom: 1.3rem;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
  }
  .reg-class{
    width: 200px;
    height: 40px;
    font-size: 1.1rem;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: white;
    margin: 0 auto;
    transition: all 0.3s ease;
  }
  .reg-class:hover{
    background-color: transparent;
    border: 1px solid white;
    color: white;

  }
  @media screen and (max-width: 550px) {
    .signup-page .content h2 {
      font-size: 2.5rem;
    }
    .full-page-grap {
      padding: 0 1rem;
    }
    .signup-page {
      width: 100%;
    }
    .reg-class{
      width: 120px;
      height: 35px;
      font-size: 1rem;
    }
  }